.spacer {
  flex: 1 1 auto;
}

.logo {
  cursor: pointer;
  margin-left: 8px; 
}

.mobile-menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  
  .mobile-menu-btn {
    display: block;
  }
}